.task{


    display: flex; 
gap: 1rem; 
align-items: center; 

}

.task-input{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    border-radius: 0.125rem; 
    width: 16rem;     

}